.header{
    background-color: rgb(0, 0, 0);
    text-align: center;

    /* height: 5600px; */
    height: 15%;
}
/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color:rgb(151, 148, 148);
    color: black;
  }

  body{
    background-color: rgb(110, 110, 110);
    padding: 0%;
    margin: 0;
  }

.HomePage{
  padding: 15px 15px;
}

.homeText{
  border: 5px outset rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);    
  text-align: center;
  float: center;
  width: 60%;
}

.homeImage{
  float: right;
}