/* .HomePage{
    padding: 15px 100px;
    display: flex;
    justify-content: center;
  }
  
  .HomePage div {
    margin: 0 20px;
  } */
  
  .homeText{
    border: 5px outset rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);    
    text-align: center;
    float: center;
    width: 60%;
    font-size: xx-large;
    height: auto;
  }
  
  .homeImage{
    float: right;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* .grid-container{
    box-sizing: border-box;
    width: 100%;
    height: 200vh;

    display: grid;
    /*
    Distribute grid container's space across 1 columns and 6 rows in the ratios 1 and 1:1:9:6:6:1
    */
  /* }

  .grid-container > header{
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  .grid-container > article{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .grid-container > aside{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  } */ 

  @media(max-width: 600px){
    .HomePage{
      padding: 15px 100px;
      display: flex;
      justify-content: center;
    }
    
    .HomePage div {
      margin: 0 20px;
    }
    
    .homeText{
      border: 5px outset rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);    
      text-align: center;
      float: center;
      width: 100%;
      font-size: xx-large;
      height: auto;
    }
    
    .homeImage{
      display: none;
    }
  }